/* short-discription */

.short-description {
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4vh;
}

.short-description>span {
  display: block;
  text-align: center;
  width: 60%;
}


a {
  color: black;
  text-decoration: none;
}

.logo>a>svg>path {
  fill: black;
}   



body {
  margin: 0;
  font-family: 'PT-Sans';
  font-weight: 400;
  width: 100%;
  overflow-x: hidden;
  font-style: normal;
  color: #121212;
}

*, *:before, *:after {
  box-sizing: border-box; 
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: inherit; 
}

p { 
  margin: 0; 
}

a { 
  text-decoration: none;
  color: inherit;
  display: inline-block; 
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container{
  padding: 0 2vh;
}


@font-face {
  font-family: 'PT-Sans';
  src: url("../fonts/PT-Sans/PTS55F.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PT-Sans-Bold';
  src: url("../fonts/PT-Sans/PTS75F.ttf") format("truetype");
  font-weight: 600;
  font-style: bold;
  font-display: swap;
}



/* block services */

.services {
  background: #F4F4F4;
}

.services__inner {
  display: flex;
  flex-direction: column;
  align-items:center;
  text-align: center;
  padding-top: 10vh;
}

.services__title {
  font-family: 'PT-Sans-Bold';
  font-size: 7vh;
  color: #121212;
  margin-bottom: 3vh;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 4vh;
}

.services__title-line {
  width: 18vh;
  height: 0.5vh;
  background-color: #121212;
  margin-bottom: 10vh;
}

.services__items {
  display: flex;
  justify-content: center;  
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 190vh;
  margin-bottom: 10vh;
}

.services__item {
  background: #FFFFFF;
  padding-bottom: 3vh;
  padding-left: 2.7vh;
  padding-top: 5vh;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  text-align: left;
  margin-bottom: 7vh;
  margin-right: 3vh;
  width: 62vh;
  height: 50vh;
}

.services__item-title {
  font-family: 'PT-Sans-Bold';
  font-size: 5vh;
  display: flex;
  align-items: center;
  color: #121212;
  margin-bottom: 5vh;
}

.item-title__res {
  margin-bottom: 2vh;
}

.services__item-line{
  width: 19vh;
  height: 0.5vh;
  background-color: #121212;
  margin-bottom: 7vh;
}

.item-line__res {
  margin-bottom: 2vh;
}

.services__item-text {
  margin-top: 4vh;
  font-size: 2.3vh;
  color: #656565;
  width: 51vh;
}


/* block tasks */

.tasks {
  background: #F4F4F4;
}

.tasks__title {
  font-family: 'PT-Sans-Bold';
  font-size: 7vh;
  color: #121212;
  margin-bottom: 3vh;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 4vh;
}

.tasks__title-line {
  width: 18vh;
  height: 0.5vh;
  background-color: #121212;
  margin: 0 auto;
  margin-bottom: 10vh;
}

.tasks__box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 20vh;
  max-width: 150vh;
  margin: 0 auto;
}

.tasks__text {
  margin-top: 3vh;
  font-size: 2.3vh;
  color: #656565;
  margin-right: 3vh;
}

.tasks__text:first-child {
  margin-top: 0;
}

.tasks__img {
  width: 60vh;
  margin-left: 3vh;
}


/* short-discription */

.short-description {
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4vh;
}

.short-description>span {
  display: block;
  text-align: center;
  width: 60%;
}


/* seo */
.SEO{
  background: #F4F4F4;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 4vh;
  padding-bottom: 9vh;
}
.SEO > span{
  font-weight: bold;
  font-size: 4vh;
  color: #656556;
  margin-bottom: 1vh;
}
.border_span{
  border-bottom: .3vh solid #656565;
  width: 15vh;
  margin-bottom: 8vh ;
}
.SEO > h2{
  font-family: 'PT-Sans-Bold';
  font-size: 7vh;
  color: #121212;
  width: 50%;
  margin-bottom: 2vh;
}
.border_h2{
  border-bottom: .7vh solid #121212;
  width: 10vw;
  margin: 0 auto;
  margin-bottom: 8vh ;
}
.SEO > p{
  font-weight: normal;
  font-size: 4vh;
  text-align: center;
  margin: 0 auto;
  color: #121212;
  width: 60vw;
  margin-bottom: 3vh;
}
.SEO > span{
  font-weight: normal;
  font-size: 3vh;
  text-align: center;
  color: #121212;
  width: 45vw;
  margin: 0 auto;
}
/* stages work */
.stages_work{
  padding: 4vh 2vw;
}
.stages_work > h2{
  font-size: 8vh;
  font-family: 'PT-Sans-Bold';
  text-align: center;
  color: #121212;
  margin: 0 auto;
  margin-bottom: 2vh;
}
.stages{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card > span {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 7vh;
  color: #121212;
}

.card > p{
  font-weight: normal;
  font-size: 3vh;
  color: #121212;
  margin-top: 8vh;
  word-wrap: break-word;
  
}
.card {
  width: 45%;
  margin-bottom: 10vh;
}
.img{
  width: 45vw;
  display: flex;
  justify-content: center;
}

.card > object{
  max-width:100%;
  height:auto;
  
}

/* usability */
.usability{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 10vh;
  padding-bottom: 2vh;
}
.usability{
  background: #F4F4F4;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 10vh;
  
}
.usability > span{
  font-weight: normal;
  font-size: 4vh;
  color: #656556;
  margin-bottom: 1vh;
}

.usability > h2{
  font-family: 'PT-Sans-Bold';
  font-size: 8vh;
  color: #121212;
  width: 50vw;
  margin: 0 auto;
  margin-bottom: 2vh;
}

.usability > p{
  font-weight: normal;
  font-size: 4vh;
  text-align: center;
  margin: 0 auto;
  color: #121212;
  width: 60vw;
  margin-bottom: 3vh;
}

.image{
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: 
  linear-gradient(to top, rgba(0,0,0, 0.6), rgb(0,0,0,0.6)),
  url(../images/backgrounds/seo-prod/img.png);
  background-size: cover;
  background-attachment: fixed;
}
.image > p{
  margin: 0 auto;
  font-weight: normal;
  font-size: 3vh;
  text-align: center;
  color: #FFFFFF;
  width: 50vw;
  padding: 7vh 0;
}















