.logo>a>svg>path {
  fill: black;
}


footer {
  background-color: #F4F4F4;
}


body {
  margin: 0;
  font-family: 'PT-Sans';
  font-weight: 400;
  width: 100%;
  overflow-x: hidden;
  font-style: normal;
  color: #121212;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: inherit;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
  padding: 0 3vw;
}

@font-face {
  font-family: 'PT-Sans';
  src: url("../fonts/PT-Sans/PTS55F.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PT-Sans-Bold';
  src: url("../fonts/PT-Sans/PTS75F.ttf") format("truetype");
  font-weight: 600;
  font-style: bold;
  font-display: swap;
}

/* block top */
.top {
  padding: 10vh 0 5vh;
  font-size: 2em;
}

.top__container {
  margin: 0 auto;
}

.top__title {
  font-size: 1.75em;
  font-family: 'PT-Sans-Bold';
  margin: 0 auto;
  margin-bottom: 2vh;
  text-align: left;
}

.top__title-line {
  width: 14vh;
  height: 0.5vh;
  background-color: #121212;
  margin-bottom: 4vh;
}

.top__box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-end;
}

.top__box-text {
  font-size: 1em;
  width: 900px;
}

/* block contacts */
.contacts {
  background: #F4F4F4;
  padding: 15vh 0 15vh;
}

.contacts__container {
  margin: 0 auto;
  font-size: 2em;
}

.contacts__box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contacts__column li {
  margin-bottom: 5vh;
}

.contacts__column li:first-child {
  margin-bottom: 2vh;
}

.contacts__title {
  font-size: 1.75em;
  font-family: 'PT-Sans-Bold';
  margin: 0 auto;
  margin-bottom: 2vh;
  text-align: left;
}

.contacts__title-line {
  width: 14vh;
  height: 0.5vh;
  background-color: #121212;
  margin-bottom: 4vh;
}

.contacts__text {
  font-size: 1em;
  display: flex;
  align-items: center;
}

.contacts__column:last-child .contacts__text {
  align-items: flex-start;
}

.contacts__text span {
  margin-left: 20px;
}

.map {
  background: #F4F4F4;
}

.map__container {
  max-width: 150vh;
  margin: 0 auto;
}
@media screen and (max-width: 480px){
  .top{
    font-size: 2em;
    padding: 3vh 0 5vh;
  }
  .top__box{
    font-size: 1em;
  }
  .contacts{
    font-size: 2em;
    padding: 3vh 0 15vh;
  }
  .contacts__title{
    font-size: 24px;
  }
  .top__title {
    font-size: 24px;
  }
  .top__box-text {
    font-size: 16px;
  }
  .btn {
    font-size: 24px;
  }
  .contacts__text {
    font-size: 24px;
  }
  .btn-animate {
    margin-top: 40px;
    margin-left: 1.5vw;
  }
}