
header {
    height: 10%;
    display: flex;
    justify-content:  space-around;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.14);
    align-items: center;
}

.logo-wrap {
    display: flex;
    align-items: center;
    width: 50%;
    margin: 3vh 0 3vh 0;
}

.logo {
    margin-left: 3vw;
}


nav {
    width: 50%;
    font-size: 1.5em;
}

.active_header {
    border-bottom: 0.3vh solid #000 !important;
}

.navbar {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
    margin: 3vh 4vw 2vh 4vh;
}

.navbar-item {
    position: relative;
}

.navbar-item-link {
    transition: color 0.5s;
}

.navbar-item-link:hover {
    color: #49E4DB;
}

.navbar-item:hover .drop-ul{
    opacity: 1;
    visibility: visible;
}

.drop-ul {
    list-style: none;
    color: white;
    position: absolute;
    padding-top: 15px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-out;
    padding-left: 0;
}

.drop-ul-item:hover .drop-item-link{
    color: #49E4DB;
}

.drop-item-link {
    transition: color 0.5s;
}

.breadcrumb {
    padding: 3vh 0 3vh 0;
    width: 200%;
    height: 100%;
}

h1 {
    margin: 0;
    font-size: 3vh;
}

.bla {
    display: flex;
}

.bla>h1, .bla>span {
    margin-right: 4vh;
    display: flex;
    align-items: center;
    font-size: 2.7vh;
} 

/* humburg-menu */

#menu__toggle {
    opacity: 0;
    display: none;
  }
  
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: 0;
    z-index: 1;
  }
  
  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 3.5vh;
    right: 4vh;
  
    width: 3vh;
    height: 3.5vh;
  
    cursor: pointer;
    z-index: 3;
  }
  
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    
  
    width: 100%;
    height: 2px;
  
    background-color: #616161;
  
    transition-duration: 0.25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  
  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    overflow-y: scroll;
    
    right: -100%;
    width: 45vh;
    height: 100%;
  
    margin: 0;
    padding: 80px 0;
  
    list-style: none;
  
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  
    transition-duration: .25s;
    z-index: 1;
  }
  
  .menu__item {
    display: block;
    padding: 2vh 4vh;
  
    color: #333;
  
    font-family: 'PT-Sans';
    font-size: 3vh;
  
    text-decoration: none;
  
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }

  .span_item {
    cursor: pointer;
    display: block;
    padding: 2vh 4vh;
  
    color: #333;
  
    font-family: 'PT-Sans';
    font-size: 3vh;
  
    text-decoration: none;
  
    transition-duration: .25s;
  }
  .span_item:hover {
    background-color: #CFD8DC;
  }


  .item_ul {
    list-style: none;
    display: none;
    color: #333;
  
    font-family: 'PT-Sans';
    font-size: 2vh;
    font-weight: 600;
  
    text-decoration: none;
  
    transition-duration: .25s;
  }

.item_li {
    padding: 2vh 0 2vh 6vh;
    margin-bottom: 1vh;
}

.item_li:hover {
    background-color: #CFD8DC;
}

  #li_toggle1 {
      display: none;
  }

  #li_toggle1:checked ~ .item_ul {
    display: block;
    z-index: 1;
  }

  
  #li_toggle2 {
      display: none;
  }

  #li_toggle2:checked ~ .item_ul {
    display: block;
    z-index: 1;
  }

  #li_toggle3 {
    display: none;
  }

  #li_toggle3:checked ~ .item_ul {
    display: block;
    z-index: 1;
  }

  #li_toggle4 {
      display: none;
  }

  #li_toggle4:checked ~ .item_ul {
    display: block;
    z-index: 1;
  }   


@media (max-width: 480px) {
  .menu__box {
    width: 100%;
  }
  header {
    justify-content: flex-start;
  }
  .breadcrumb {
    display: none;
  }
  .logo {
    margin-left: 10%;
  }
  .logo svg {
    width: 30vw;
  }
  nav {
    display: none;
  }
  .hamburger-menu {
    display: block;
    z-index: 4;
  }

  #menu__toggle:checked ~ .menu__btn > span,
  #menu__toggle:checked ~ .menu__btn > span::before,
  #menu__toggle:checked ~ .menu__btn > span::after {
    background-color: #616161 !important; 
  }
  .slogan {
    border-bottom: 3px solid #fff;
  }
}