*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    font-family: 'PT-Sans';
    font-style: normal;
}

a {
  text-decoration: none;
  color: black;
}
.logo>a>svg>path {
  fill: #121212;
}

footer {
    background-color: #F4F4F4;
  }


/* short-discription */

.short-description {
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.short-description>span {
    display: block;
    text-align: center;
    width: 60%;
}


/* seo */
.SEO{
    font-size: 2em;
    background: #F4F4F4;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 4vh;
    padding-bottom: 9vh;
}
.border_span{
    border-bottom: .3vh solid #656565;
    width: 15vh;
    margin-bottom: 8vh ;
}
.SEO > h2{
    font-family: 'PT-Sans-Bold';
    color: #121212;
    width: 50%;
    font-size: 2em;
    margin-bottom: 2vh;
}
.border_h2{
    border-bottom: .7vh solid #121212;
    width: 10vw;
    margin: 0 auto;
    margin-bottom: 8vh ;
}
.SEO > p{
    font-weight: normal;
    text-align: center;
    margin: 0 auto;
    color: #121212;
    width: 60vw;
    margin-bottom: 3vh;
}
.SEO > span{
    font-weight: normal;
    text-align: center;
    color: #121212;
    width: 45vw;
    margin: 0 auto;
}
/* stages work */
.stages_work{
    padding: 4vh 2vw;
    font-size: 2em;
}
.stages_work > h2{
    font-family: 'PT-Sans-Bold';
    font-size: 2em;
    text-align: center;
    color: #121212;
    margin: 0 auto;
    margin-bottom: 2vh;
}

.stages__row {
    display: flex;
}
.card object {
    width: 65%;
}
.card:nth-child(even) {
    width: 50%;
}

.stages__row:nth-child(even) .card:nth-child(even) {
    order: -1;
}

.stages{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-weight: bold;
}
.card > span {
    font-family: Montserrat;
    font-size: 2em;
    color: #121212;
}

.card > p{
    font-weight: normal;
    color: #121212;
    margin-top: 8vh;
    word-wrap: break-word;
    
}
.card {
    width: 50%;
    margin-bottom: 10vh;
}
.img{
    width: 45vw;
    display: flex;
    justify-content: center;
}

.card > object{
    max-width:100%;
    height:auto;
    
}

/* usability */
.usability{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 10vh;
    font-size: 2em;
    padding-bottom: 2vh;
}

.usability > span{
    font-weight: normal;
    color: #656556;
    margin-bottom: 1vh;
}

.usability > h2{
    font-family: 'PT-Sans-Bold';
    font-size: 2em;
    color: #121212;
    width: 50vw;
    margin: 0 auto;
    margin-bottom: 2vh;
}

.usability > p{
    font-weight: normal;
    text-align: center;
    margin: 0 auto;
    color: #121212;
    width: 60vw;
    margin-bottom: 3vh;
}

.image{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: 
    linear-gradient(to top, rgba(0,0,0, 0.6), rgb(0,0,0,0.6)),
    url(../images/backgrounds/seo-prod/img.png);
    background-size: cover;
    background-attachment: fixed;
    font-size: 2em;
}
.image > p{
    margin: 0 auto;
    font-weight: normal;
    text-align: center;
    color: #FFFFFF;
    width: 60%;
    font-size: 0.75em;
    padding: 7vh 0;
}


  

@font-face {
    font-family: "PT-Sans";
    src: url("../fonts/PT-Sans/PTS55F.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "PT-Sans-Bold";
    src: url("../fonts/PT-Sans/PTS75F.ttf") format("truetype");
    font-weight: 600;
    font-style: bold;
}

@media (min-width: 375px) and (max-width: 415px) {
    body {
        font-size: 10px;
    }
    .short-description span {
        width: 90%;
    }

    .SEO h2, .SEO p, .SEO span {
        width: 75%;
    }

    .card {
        width: 90%;
    }
    
    .stages__row:nth-child(even) .card:nth-child(even) {
        order: 0;
    }
    .card object {
        width: 100%;
    }
    .stages__row {
        flex-direction: column;
        align-items: center;
    }

    .image p {
        width: 90%;
    }
}

@media (min-width: 300px) and (max-width: 374px) {
    body {
        font-size: 8px;
    }

    .short-description span {
        width: 90%;
    }

    .SEO h2, .SEO p, .SEO span {
        width: 75%;
    }

    .card {
        width: 90%;
    }
    
    .stages__row:nth-child(even) .card:nth-child(even) {
        order: 0;
    }
    .card object {
        width: 100%;
    }
    .stages__row {
        flex-direction: column;
        align-items: center;
    }

    .image p {
        width: 90%;
    }
}