html {
    position: fixed;
}

a {
    color: white;
    text-decoration: none;
}

.non-visable{
    opacity: 0;
    visibility: hidden;
}

.visable {
    opacity: 1;
    transition: opacity 2s ease-in;
}

body {
    margin: 0;
    background-image: url("../images/stduio-2035349_1920\ 1\ \(1\).png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'PT-Sans';
    font-size: 1.6vw;
    width: 100vw;
    height: 100vh;
}

.left {
    display: flex;
    height: 100%;
    width: 50%;
    flex-direction: column;
    justify-content: flex-end;
}

.right {
    display: flex;
    height: 100%;
    width: 50%;
    flex-direction: column;
    justify-content: flex-end;
}

.info-drop-ul {
    list-style: none;
    font-size: 1.5vw;
    padding: 0;
    padding-top: 30px;
}

.info-drop-li {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 100px;
}

.info-drop-li:hover {
    background-color: rgba(73, 228, 219, 0.5);
    
}

.bg-gradient {
    position: absolute;
    left: 50%;
    width: 100%;
    height: 100%;

    background: linear-gradient(180deg, #49E4DB 0%, #DB00FF 100%, #DB00FF 100%);
    mix-blend-mode: overlay;

    z-index: -1;
}
.container {
    font-size: 2vw;
    height: 80%;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.info {
    padding: 0;
    margin-top: 0;
    margin-bottom: 15vh;
    list-style-type: none;
}

.info-item {
    padding: 20px 0 20px 0;
    transition: background-color 0.3s ease-out;
    cursor: pointer;
    height: 6vh;
}

.info-item>svg {
    position: relative;
    left: 50px;
}

.info-item-top {
    transition: transform 2s ease-in-out;
    transform: translate(0, -30vh);
}

.info-item-bot {
    transition: transform 3s ease-in-out;
    transform: translate(0, 0);
}

.info-item>span {
    margin-left: 75px;
}

.info-item:hover {
    background-color: rgba(73, 228, 219, 0.5);
}

.slogan {
    font-family: 'PT-Sans-Bold';
    margin-bottom: 18vh;
    margin-left: 10%;
}

.button {
    width: 20vw;
    height: 7vh;
    text-align: center;
    font-size: 1.6vw;  
    margin-left: 10%;
 

    border: 0.2vw solid #FFFFFF;
    box-sizing: border-box;
    transition: border-color 0.5s ease-in-out;
}

.item-link {
    display: block;
    line-height: 6vh;
    transition: color 0.5s ease-out;
    font-size: 1.4vw;
}

.button:hover {
    border-color: #49E4DB;
}

.button:hover .item-link{
    color: #49E4DB;
}

footer {
    height: 10%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.footer-logo>span {
    font-size: 1vw;
    opacity: 0.5;
}

.footer-logo {
    margin: 0 0 20px 44px;
}

.socials {
    margin: 0 44px 20px 0;
}

.svg-socials {
    margin-left: 50px;
}
.svg-socials>path {
    fill: white;
    transition: fill 0.5s;
}

.svg-socials:hover path{
    fill: #49E4DB;
}



@font-face {
    font-family: "PT-Sans";
    src: url("../fonts/PT-Sans/PTS55F.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "PT-Sans-Bold";
    src: url("../fonts/PT-Sans/PTS75F.ttf") format("truetype");
    font-weight: 600;
    font-style: bold;
}