
.about {
  font-size: 2em;
  background-image: linear-gradient(to top, rgba(18, 18, 18, 0.7), rgb(18, 18, 18, 0.5)), url(../../images/backgrounds/internet-marketing/about.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-attachment: fixed;
}

.about__title {
  font-size: 1em;
  text-align: center;
  color: #EBEBEB;
  margin-bottom: 3vh; 
}

.about__text {
  font-family: 'PT-Sans';
  font-size: 1em;
  color: #FFFFFF;
  text-align: center;
  width: 60%;
  margin: 30px auto 0 auto;
}

.about__title-line {
  width: 18vh;
  height: 0.3vh;
  background-color: #fff;
  margin: 0 auto;
}

@media (max-width:480px) {
  .about {
    padding: 4vh 0 5vh;
  }
  .about__text {
    margin-top: 5vh;
  }
}
