.strategy {
  background: #F4F4F4;
  color: #FFFFFF;
  font-size: 2em;
}

.strategy__title-line {
  width: 17.5vh;
  height: 0.5vh;
  background-color:#121212;
  margin-bottom: 4vh;
  margin: 0 auto;
  margin-bottom: 10vh;
}

.strategy__content{
  background-image: linear-gradient(to top, rgba(18, 18, 18, 0.5), rgb(18, 18, 18, 0.5)),
  url(../../images/backgrounds/internet-marketing/bg-strategy.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 9vh 5vh 15vh;
  width: 100%;
  background-attachment: fixed;
}

.strategy__title {
  font-family: 'PT-Sans-Bold';
  font-size: 1.75em;
  text-align: center;
  color: #121212;
  margin-bottom: 2vh;
  padding-top: 15vh;
}

.content-strategy__title {
  font-family: 'PT-Sans-Bold';
  font-size: 1em;
  color: #FFFFFF;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 4vh;
}

.content-strategy__title-line {
  width: 18vh;
  height: 0.5vh;
  background-color: #FFFFFF;
  margin: 0 auto;
}

.content-strategy__box {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}

.left-strategy {
  margin-left: 2vh;
}

.left-strategy__item, .right-strategy__item {
  position: relative;
  padding-left: 17vh;
  font-family: "PT-Sans-Bold";
  font-size: 1em;
  margin-bottom: 100px;
}

.left-strategy__item:before, .right-strategy__item:before {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 2em;
}

/* @media (max-width:1800px) {

  .left-strategy__item, .right-strategy__item {
    padding-left: 10vh;
  }
} */

.right-strategy__list {
  margin-top: 50px;
}

@media (max-width:1500px) {

  .left-strategy, .right-strategy {
    display: none;
  }
}



.left-strategy__text, .right-strategy__text {
  font-family: 'PT-Sans';

  max-width: 90vh;
  display: inline-block;
}

.left-strategy__item:nth-child(1)::before {
  position: absolute;
  content:'01';
  top: 20px;
  left: 0;
 }

 .left-strategy__item:nth-child(2)::before {
  position: absolute;
  content:'03';
  top: 20px;
  left: 0;
 }

 .left-strategy__item:nth-child(3)::before {
  position: absolute;
  content:'05';
  top: 20px;
  left: 0;
 }

 .left-strategy__item:nth-child(4)::before {
  position: absolute;
  content:'07';
  top: 20px;
  left: 0;
 }

 .right-strategy__item:nth-child(1)::before {
  position: absolute;
  content:'02';
  top: 20px;
  left: 0;
 }

 .right-strategy__item:nth-child(2)::before {
  position: absolute;
  content:'04';
  top: 20px;
  left: 0;
 }

 .right-strategy__item:nth-child(3)::before {
  position: absolute;
  content:'06';
  top: 20px;
  left: 0;
 }

 .right-strategy__item:nth-child(4)::before {
  position: absolute;
  content:'08';
  top: 20px;
  left: 0;
 }

 @media (max-width:1500px) {

  .left-strategy__item:nth-child(1)::before {
    position: absolute;
    content:'01';
    top: 20px;
    left: -90px;
   }
  
   .left-strategy__item:nth-child(3)::before {
    position: absolute;
    content:'03';
    top: 20px;
    left: -90px;
   }
  
   .right-strategy__item:nth-child(5)::before {
    position: absolute;
    content:'05';
    top: 20px;
    left: -90px;
   }
  
   .left-strategy__item:nth-child(7)::before {
    position: absolute;
    content:'07';
    top: 20px;
    left: -90px;
   }
  
   .right-strategy__item:nth-child(2)::before {
    position: absolute;
    content:'02';
    top: 20px;
    left: -90px;
   }
  
   .right-strategy__item:nth-child(4)::before {
    position: absolute;
    content:'04';
    top: 20px;
    left: -90px;
   }
  
   .left-strategy__item:nth-child(6)::before {
    position: absolute;
    content:'06';
    top: 20px;
    left: -90px;
   }
  
   .right-strategy__item:nth-child(8)::before {
    position: absolute;
    content:'08';
    top: 20px;
    left: -90px;
   }
}

.left-strategy {
  margin-left: 2vh;
  margin-right: 4vh;
}

.strategy__mobile {
  display: none;
}

.left-strategy {
  margin-left: 2vh;
  margin-right: 4vh;
}

 @media (max-width:1500px) {
  .strategy__mobile {
    display: block;
  }

  .left-strategy__item, .right-strategy__item {
    padding-left: 8vh;
  }
 }

 @media (max-width:480px) {
  .strategy__title {
    margin-bottom: 5vh;
    padding-top: 7vh;
  }

  .left-strategy__item, .right-strategy__item {
    margin-bottom: 25px;
  }

  .left-strategy__text, .right-strategy__text {
    font-size: 16px;
}
   .left-strategy__item, .right-strategy__item {
    padding-left: 5vh;
    width: 95%;
  }

  .strategy__content {
    padding: 3vh 0vh 0;
    padding-left: 2vh;
  }


  .left-strategy__item:nth-child(1)::before {
    position: absolute;
    content:'01';
    left: 0;
   }
  
   .left-strategy__item:nth-child(3)::before {
    position: absolute;
    content:'03';
    left: 0;
   }
  
   .right-strategy__item:nth-child(5)::before {
    position: absolute;
    content:'05';
    left: 0;
   }
  
   .left-strategy__item:nth-child(7)::before {
    position: absolute;
    content:'07';
    left: 0;
   }
  
   .right-strategy__item:nth-child(2)::before {
    position: absolute;
    content:'02';
    left: 0;
   }
  
   .right-strategy__item:nth-child(4)::before {
    position: absolute;
    content:'04';
    left: 0;
   }
  
   .left-strategy__item:nth-child(6)::before {
    position: absolute;
    content:'06';
    left: 0;
   }
  
   .right-strategy__item:nth-child(8)::before {
    position: absolute;
    content:'08';
    left: 0;
   }
   .left-strategy__item:before, .right-strategy__item:before {
    font-size: 1em;
  }
}



