{% extends 'main/main.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static '/css/odometr.css' %}">
<link rel="stylesheet" href="{% static '/css/about_style.css' %}">
{% endblock %}
    {% block content %}
    {% include 'main/preview.html' %}
    <div class="numbers">
       <div class="number">
           <span class="num odometer" id="odometer_0">0</span>
           <p>Лет на рынке рекламы</p>
       </div>
       <div class="number">
        <span class="num odometer" id="odometer_1">0</span>
        <p>Рекламных кампаний</p>
    </div>
    <div class="number">
        <span class="num odometer" id="odometer_2">0</span>
        <p>Приложений и сайтов</p>
    </div>
    <div class="number">
        <span class="num odometer" id="odometer_3">0</span>
        <p>Обучающих мероприятий</p>
    </div>
    <div class="number">
        <span class="num odometer" id="odometer_4">0</span>
        <p>Сертифицированных специалистов Яндекс и Google</p>
    </div>
    <div class="number">
        <span class="num odometer" id="odometer_5">0</span>
        <p>% клиентов приходят к нам по рекомендации</p>
    </div>
    </div>
    <div class="about_team wow fadeInUpBig">
        <h2>о команде</h2>
        <div class="underscore"></div>
        <p>Мы комплексно решаем стоящие перед нами задачи, опираясь на многолетний опыт 
            и применяя новейшие Digital-технологии, а созданный нами центр исследований 
            и аналитики позволяет опережать рынок на несколько шагов
            </p>
    </div>
   <div class="carousel">
        <div class="slider center">
            {% for member in team %}
            <div class="slide" {% if member.photo.url is not None %} style="background-image: url({{ member.photo.url }});"{% endif %}>
                <div class="member-info">
                    <span class="member-name">{{ member.name }}</span>
                    <span class="member-position">{{ member.position }}</span>
                </div>
            </div>
            {% endfor %}
        </div>
        
   </div>
   <div class="online_community">
       <div class="com-multiply"></div>
       <h2>помогаем развивать интернет-содружество</h2>
       <div class="underscore2"></div>
       <h3> Мы уверены, что совместная работа ускоряет и улучшает результат.
            Вместе мы  расширим возможности, поможем развитию отрасли,
             создадим сильную группу влияния и мощное информационное пространство.
       </h3>
       <p>Наша работа в проф сообществах — это возможность! Мы используем ее,
            чтобы получать новые знания и делиться своими навыками с другими,
             быть в курсе новинок и событий отрасли, чтобы всегда быть готовыми к лучшим переменам
        </p>
   </div>
   <div class="news_digital ">
       <h1 class="wow fadeInUpBig">Свежие статьи из мира Digital</h1>
       <div class="underscore3 wow fadeInUpBig"></div>
   </div>
   <div class="blog">
    <div class="posts">
        {% for post in posts %}
        <div class="post">
            <div class="img" {% if post.image.url is not None %} style="background-image: url({{ post.image.url }})" {% endif %}></div>
             <div class="info">
                <div class="data">
                    <p class="day">{{ post.date_created }}</p>
                    <p class="time">{{ post.get_time_to_read }}</p>
                </div>
                <a class="title" href="{% url 'post' post.id %}">
                    {{ post.title }}
                </a>
                <div class="text">
                    <span>{{ post.subtitle}}</span>
                </div>
                <div class="pirson">
                    {% if post.author != None %}
                    <div class="ava" style="background-image: url({{ post.author.photo.url }})"></div>
                    <div class="name">
                        <h2>{{ post.author.name }}</h2>
                        <p class="proff">
                            {{ post.author.position }}
                        </p>
                    </div>    
                    {% endif %}                      
                </div>   
             </div>                       
        </div>
        {% endfor %}

    </div>
    <a href="{% url 'blog' %}" class="blog__more">Читать больше</a>

</div>
{% include 'main/portfolio_works.html' %}
<script type="text/javascript" src="{% static '/js/jquery-2.2.4.min.js' %}"></script>
<script type="text/javascript" src="{% static '/js/jquery.waypoints.min.js' %}"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="{% static 'js/slider.js' %}" ></script>
<script src="{% static 'js/odometr.js' %}" ></script>
<script src="{% static 'js/odometr-pages.js' %}" ></script>
{% endblock %}

