{% extends 'main/main.html' %}
{% load static %}
    {% block style %}
  <link rel="stylesheet" href="{% static '/css/contacts_style.css' %}">
  {% endblock %}
  {% block content %}
  <div class="top">
    <div class="container top__container">
      <h5 class="top__title">
        контакты:
      </h5>
      <div class="top__title-line"></div>
      <div class="top__box">
        <p class="top__box-text">
          Студия “ReactLab”  -  digital-агенство полного цикла. 
          Нас интересует продвижение веб-сайтов любой направленности, 
          медийная и контекстная реклама, PR в сети и SMM. 
        </p>
        <div class="btn-animate">
          <div class="btn">
              <a href="">
              <span class=btn-el>рассчитать стоимость</span>
              <span class=btn-el>подтвердить</span>
          </a>
          </div>
      </div>
      </div>
    </div>
  </div>

  <div class="contacts">
    <div class="container contacts__container">
      <div class="contacts__box">
        <ul class="contacts__column">
          <li class="contacts__title">звоните нам:</li>
          <li class="contacts__title-line"></li>
          <li class="contacts__text" href="tel:8(861)2176655"><object data="{% static '/images/backgrounds/contacts/phone.svg' %}" type="image/svg+xml"></object><span>8(861)2176655;</span> </li>
        </ul>
         <ul class="contacts__column">
           <li class="contacts__title">пишите нам:</li>
           <li class="contacts__title-line"></li>
           <li class="contacts__text"><object data="{% static '/images/backgrounds/contacts/e-maill.svg' %}" type="image/svg+xml"></object><span>web@reactlab.pro</span></li>
         </ul>
         <ul class="contacts__column">
           <li class="contacts__title">приходите к нам:</li>
           <li class="contacts__title-line"></li>
           <li class="contacts__text"><object data="{% static '/images/backgrounds/contacts/location.svg' %}" type="image/svg+xml"></object><span>г. Краснодар,<br> ул. Красноармейская 64/2</span></li>
         </ul>
      </div>
    </div>
  </div>

  <div class="map">
   <div class="container map__container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2819.8154861462467!2d38.972465315414716!3d45.028670979098216!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40f04fbc902ab9f5%3A0x2b3bdf3f369f2299!2z0JrRgNCw0YHQvdC-0LDRgNC80LXQudGB0LrQsNGPINGD0LsuLCA2NCDQutC-0YDQv9GD0YEgMiwg0JrRgNCw0YHQvdC-0LTQsNGALCDQmtGA0LDRgdC90L7QtNCw0YDRgdC60LjQuSDQutGA0LDQuSwgMzUwMDAw!5e0!3m2!1sru!2sru!4v1601638935982!5m2!1sru!2sru" 
     width="100%" height="550" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
   </div>
  </div>
{% endblock %}