{% extends 'main/main.html' %}

{% load static %}
    {% block style %}
    <link rel="stylesheet" href="{% static 'css/digital-strat_style.css' %}">
    {% endblock %}
    {% block content %}
    {% include 'main/preview.html' %}
    <div class="short-description">
        <span>Выработаем стратегию развития вашего бизнеса в интернете с контрольными точками для фиксирования плановых результатов  и основными метриками для оценки всех KPI.</span>
    </div>
        <div class="digital">
            <span>digital</span>
            <div class="border_span"></div>
            <h2>кому и почему необходима digital-стратегия</h2>
            <div class="border_h2"></div>
            <p>Если все, что вам известно о пользовательской аудитории,
                 это «женщины и мужчины Краснодара от 18 до 80 лет», то разработка digital-стратегии нужна именно вам.</p>
            <div class="img_text">
                <div class="img_dig">
                    <object data="{% static 'images/backgrounds/digital-strat/stonks.svg' %}" type="image/svg+xml"></object> 
                </div>
                <div class="_text">
                    <p class="p1"> - вы только начали использовать интернет для развития своего бизнеса, и хотите вооружиться четким планом действий?
                        <br>
                    <p class="p2">  - в сети можно встретить множество предложений с классными кейсами по развитию рекламы в Интернете, но что из этого поможет именно вам?</p>
                        <br>
                    <p class="p3"> - вы уже достигли определенных высот в работе по налаживанию рекламы в интернете, но дальнейшее развитие зависит от успешного составления нового плана действий?</p>
                        <br>
                    <p class="p4"> - желаете и дальше продвигать рекламную кампанию в сети, умело распоряжаясь бюджетом и доступными инструментами?</p>
                </div>

            </div>     
        </div>
        <div class="strat">
            <div class="img">
                <h2>что включает в себя разработка стратегии?</h2>
                <div class="border"></div>
                <p>Прежде всего должна учитываться специфика определенной 
                компании, для которой формируется уникальная стратегия, здесь важен опыт самой компании и активность ее конкурентов в данной теме.</p>
            </div>
            <div class="include">
                <div class="include_strat">
                    <span>анализ текущего положения компании</span>
                    <div class="border_inc"></div>
                    <p>Проводим анализ текущего положения компании на рынке в целом и в интернете в частности. Вместе с клиентом определяем цели 
                        в отношении digital, его желаемую позицию на рынке и точки роста, с учетом активности конкурентов.</p>
                </div>
                <div class="include_strat">
                    <span>построение сценариев взаимодействия</span>
                    <div class="border_inc"></div>
                    <p>Разрабатываем сценарии, согласно которым потребители и компании взаимодействуют в сети. Это подробное тактическое планирование,
                         которое содержит множественные варианты сообщений для различных видов целевой аудитории и различных каналов связи.</p>
                </div>
                <div class="include_strat">
                    <span>сегментирование и описание портретов потребителей</span> 
                    <div class="border_inc"></div>
                    <p>Здесь мы должны учесть действия потребителей в Интернете и с помощью этих данных разграничить, охарактеризовать особенности и 
                        систематизировать портреты потребителей. Тут же мы можем особенно внимательно изучить ЦА, чтобы этим исследованием подтвердить точность выводов о ней.</p>
                </div>
                <div id="img_strat" class="include_strat">
                    <div class="img_strat">
                        <object data="{% static 'images/backgrounds/digital-strat/segment.svg' %}" type="image/svg+xml"></object> 
                   </div>   
                </div>                              
            </div>
        </div>
        
        {% include 'main/portfolio_works.html' %}

{% endblock %}