{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    {% block style %}
    {% endblock %}
    <link rel="stylesheet" href="{% static '/css/header_style.css' %}">
    <link rel="stylesheet" href="{% static '/css/footer_style.css' %}">
    <link rel="stylesheet" href="{% static '/css/preview_style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/portfolio-works_style.css' %}">

    <title>{{ crumb }}</title>
</head>
{% include 'main/header.html' %}
<body ontouchstart="">
    {% block content %}

    {% endblock %}
</body>
{% include 'main/footer.html' %}
</html>