{% extends 'main/main.html' %}
{% load static %}

{% block style  %}
<link rel="stylesheet" href="{% static 'css/portfolio_style.css' %}">
{% endblock style  %}

{% block content %}
<div class="header_intro">
    <div class="intro_left">
        <span class="intro_title">портфолио</span>
        <div class="border_intro"></div>
        <p class="intro_text">Студия “ReactLab” — это целеустремлённая команда, собравшая вместе 
            разнопрофильных специалистов. В 2010 году мы открылись как digital-агенство полного цикла. 
            Нас интересует продвижение веб-сайтов любой направленности, медийная и контекстная реклама, 
            PR в сети и SMM. Мы нацелены на долгосрочный результат и ответственный подход, поэтому 
            предпочитаем использование передовых технологий в рекламе и продвижении продукта. </p>
        
    </div>
    <div class="intro_btn">
    <button class="order"> <p>заказать проект</p> </button>
    </div>
</div>

<div class="category">
    <div class="all">
        <form method="GET">
            <button type="submit" class="btn-category"><p>Все</p></button>
            {% for tag in tags %}
                <button type="submit" class="btn-category" name="tags" value="{{ tag.id }}"><p>{{ tag.name }}</p></button>
            {% endfor %}
        </form> 
    </div>
</div>
<div class="portfolio">
    <div class="content"> 
        {% for holder in portfolio %}                        
        <div class="holder"  {% if holder.image.url is not None %} style="background-image: url({{ holder.image.url }})" {% endif %}>
            <div class="block">
                <p>{{ holder.title }}</p>
                <a href="{{ holder.link }}">Подробнее</a>
            </div>
        </div>  
        {% endfor %}                  
    </div>  
{% endblock content %}