<div class="portfolio-main">
    <div class="portfolio-main__title">
      наши работы
    </div>
    <div class="portfolio-main__title-line"></div>
      <div class="portfolio">
        <div class="content"> 
            {% for holder in portfolio %}                        
            <div class="holder"  {% if holder.image.url is not None %} style="background-image: url({{ holder.image.url }})" {% endif %}>
                <div class="block">
                    <p>{{ holder.title }}</p>
                    <a href="{{ holder.link }}">подробнее</a>
                </div>
            </div>  
            {% endfor %}                  
        </div>      
    </div>
    <a class="portfolio__more" href="{% url 'portfolio' %}">
      Смотреть больше работ
    </a>
    <div class="btn-animate">
      <div class="btn">
          <a href="">
          <span class=btn-el>рассчитать стоимость</span>
          <span class=btn-el>подтвердить</span>
      </a>
      </div>
  </div>
  </div>