{% extends 'main/main.html' %}
{% load static %}

{% block style  %}
<link rel="stylesheet" href="{% static 'css/portfolio_style.css' %}">
{% endblock style  %}

{% block content %}
<div class="header_intro">
    <div class="intro_left">
        <span class="intro_title">Портфолио</span>
        <div class="border_intro"></div>
        <p class="intro_text">Текст приветственный. Мы начали работать в 1999 году как студия веб-дизайна.
                Сегодня ReactLab — это агентство цифровых коммуникаций. Интернет-маркетингa.</p>
        
    </div>
    <div class="intro_btn">
    <button class="order"> <p>заказать</p> </button>
    </div>
</div>

<div class="category">
    <div class="all">
        <form method="GET">
            <button type="submit" class="btn-category"><p>Все</p></button>
            {% for tag in tags %}
                <button type="submit" class="btn-category" name="tags" value="{{ tag.id }}"><p>{{ tag.name }}</p></button>
            {% endfor %}
        </form> 
    </div>
</div>

<div class="portfolio">
    <div class="content"> 
        {% for holder in portfolio %}                        
        <div class="holder"  {% if holder.image.url is not None %} style="background-image: url({{ holder.image.url }})" {% endif %}>
            <div class="block">
                <p>{{ holder.title }}</p>
                <a href="{{ holder.link }}">Подробнее</a>
            </div>
        </div>  
        {% endfor %}                  
    </div>      
</div>
{% endblock %}