{% extends 'main/main.html' %}

{% load static %}

    {% block style %}
    <link rel="stylesheet" href="{% static '/css/page_template_style.css' %}">
    {% endblock %}

{% block content %}
    <div class="container">
        <div class="preview">
            <div class="preview-photo" {% if post.image.url is not None %} style="background-image: url({{ post.image.url }})" {% endif %}">
                <div class="preview-opacity"></div>
                <div class="post-name">
                    <span>{{ post.title }}</span>
                </div>
                <div class="post-date">
                    <span>{{ post.date_created }}</span>
                </div>
            </div>
        </div>  
        <div class="subtitle">
            <div class="subtitle-text">
                <span>{{ post.subtitle }}</span>
            </div>
    </div>
        <div class="content"> 
            <div class="post-text">
                {{ post.content | safe }}
            </div>
        </div>

        <div class="author">
            <div class="author-info">
                <div class="author-photo" style="background-image: url({{ post.author.photo.url }})"></div>
                <div class="author-legacy">
                    <div class="author-name">{{ post.author.name }}</div>
                    <div class="author-position">{{ post.author.position }}</div>
                </div>
            </div>
            <div class="pub-date">
                {{ post.date_created }}
            </div>
        </div>
    </div>
{% endblock %}