{% extends 'main/main.html' %}
{% load static %}

    {% block style %}
    <link rel="stylesheet" href="{% static 'css/seo-prod_style.css' %}">
    {% endblock style %}

{% block content %}
{% include 'main/preview.html' %}
<div class="short-description">
    <span>SEO (Search Engine Optimization) - это комплексная кампания по развитию сайта для его выхода на первые позиции в поиске. 
        Правила оптимизации зависят от поисковой системы, мы поможем продвижению в любой из них.</span>
</div>
<div class="SEO">
    <span>SEO</span>
    <div class="border_span"></div>
    <h2>поисковая оптимизация и продвижение сайта</h2>
    <div class="border_h2"></div>
    <p>Сегодня поисковые системы уже не выполняют выборочную работу с содержанием сайта
        , локального анализа недостаточно. В наши дни высокий результат SEO заключается 
        не в точечной обработке тегов - это комплексная аналитика конкурентной среды, работа с usability,
            методикой SERM, а также  полномасштабная внутренняя оптимизация.</p>
            <span>Успешно ведем SEO-проекты во всех конкурентноспособных тематиках по направлениям услуг,
                e-commerce и информационных порталов. Работаем с региональными и федеральными компаниями.</span>
</div>
<div class="stages_work">
    <h2>этапы работ</h2>
    <div class="border_h2"></div>
    <div class="stages">
        <div class="stages__row">
            <div class="card">
            <span>1 аналитика</span>
            <p>Каждый наш SEO-проект включает общий анализ сайта, исследование конкурентной среды в популярных поисковых системах.
                    Мы используем передовые решения в качестве инструментов аналитики, позволяющих нашим специалистам эффективно работать с вашими данными.</p>
            </div>
            <div class="card">
            <div class="img">
                <object data="{% static 'images/backgrounds/seo-prod/analit.svg' %}" type="image/svg+xml"></object> 
            </div>
            </div>
        </div>
        <div class="stages__row">
                <div class="card">
                    <span>2 стратегия</span>
                    <p>Мы составляем карту проекта, включающую в себя полный список необходимых вам SEO-работ на период от 6 до 12 месяцев, 
                        прогнозируем ежемесячный результат поискового трафика и ТОП позиций.</p>
                </div>
                <div class="card">
                    <div class="img">
                        <object data="{% static 'images/backgrounds/seo-prod/strat.svg' %}" type="image/svg+xml"></object>
                    </div>                
                </div>
        </div>
        <div class="stages__row">
                <div class="card">
                <span>3 контроль</span>
                <p>Мы всегда начеку - будем отслеживать промежуточные результаты и корректировать SEO-стратегию каждые 3-4 месяца.
                        Гарантируем, что с нашей стороны все работы будут выполнены точно по плану.</p>
                </div>
                <div class="card">
                    <div class="img">
                        <object data="{% static 'images/backgrounds/seo-prod/control.svg' %}" type="image/svg+xml"></object> 
                    </div>
                </div>
        </div>
        <div class="stages__row">
                <div class="card">
                    <span>4 оптимизация</span>
                    <p>Наша работа — это не только составление рекомендаций, но и их реализация.
                            Подготовим исходные прототипы или рабочие макеты как отдельных блоков, так и новых целевых страниц.</p>
                </div>
                <div class="card">
                    <div class="img">
                        <object data="{% static 'images/backgrounds/seo-prod/optimiz.svg' %}" type="image/svg+xml"></object> 
                    </div>
                </div>
        </div>
        <div class="stages__row">
                <div class="card">
                <span>5 отчет</span>
                <p>Строим отчетность по вашему проекту на основе ваших потребностей и целевых KPI: дают возможность 
                    адаптировать отчетную систему к вашему проекту, с интеграцией статистики и системы мониторинга позиций.</p>
                </div>
                <div class="card">
                    <div class="img">
                        <object data="{% static 'images/backgrounds/seo-prod/otchet.svg' %}" type="image/svg+xml"></object> 
                    </div>
                </div>  
         </div>           
    </div>
</div>
<div class="usability">
    <span>юзабилити</span>
    <div class="border_span"></div>
    <h2>юзабилити и техническая поддержка сайта </h2>
    <div class="border_h2"></div>
    <p>Наша работа — это не только составление рекомендаций,
            но и их реализация. Мы подготовим исходные прототипы или 
            рабочие макеты как отдельных блоков, так и новых целевых страниц.</p>
</div>
<div class="image">
    <p>В состав команды каждого нашего оптимизационного проекта входят UX-специалисты. 
        Тест юзабилити выявит слабые места на сайте, например, проблемы с навигацией, дизайном страниц,
        текстовым и визуальным контентом, а также другие ошибки. Внесение изменений и улучшений на сайт
            мы берем на себя. Этим у нас занимается специальный отдел технической поддержки. Верстальщики
            и программисты отлично разбираются в CMS и знают основные платформы. Мы не оставим вас без внимания,
            даже при наличии у вас своих технических специалистов. Мы будем поддерживать с ними связь, следить
            за ходом работ, во избежание ситуации, когда специалисты с нашей и техподдержка с вашей стороны 
            могут помешать друг другу и работа будет заморожена.</p>
</div>
{% include 'main/portfolio_works.html' %}  
{% endblock content %}