{% extends 'main/main.html' %}
{% load static %}
    {% block style %}
  <link rel="stylesheet" href="{% static '/css/smm_style.css' %}">
  {% endblock %}
  {% block content %}
      {% include 'main/preview.html' %}
      <div class="short-description">
          <span>Поднимем эффективность любого сайта, устраним ошибки и слабые места, предоставим 
              четкие рекомендации для роста конверсии</span>
      </div>

      <div class="block-title">
        <div class="container">
          <p class="block-title__text">
            SMM (Social Media Marketing) — нестандартный и наиболее
            перспективный метод раскрутки брендов в Интернете, 
            способствующий привлечению на сайт огромной аудитории 
            из соцсетей, сообществ, форумов и блогов.
          </p>
        </div>
      </div>
    
      <div class="media">
        <div class="container">
          <div class="media__inner">
            <h5 class="media__statment">
              SMM
             </h5>
             <div class="media__statment-line"></div>
             <h3 class="media__title">
              маркетинг в социальных медиа
             </h3>
             <div class="media__title-line"></div>
             <p class="media__text">
              Лучшие друзья в бизнесе — социальные сети. 
              Они знают многое о жизни человека. Фейсбук 
              подскажет, где тот работает. Инстаграм познакомит 
              с местами, в которых человек бывал. Вконтакте и 
              вовсе знает каждого из пользователей в лицо. 
              Продвижение компании с помощью таких «друзей» — 
              это море возможностей: миллионные аудитории 
              соцсетей + широкий таргетинг + сообщество 
              вокруг бренда + виральный контент = посетители 
              ставшие покупателями. Не стоит игнорировать 
              соцсети — это важный канал лидогенерации!
              Как и какие задачи решаем
             </p>
          </div>
        </div>
      </div>
    
      <div class="works">
        <div class="container">
          <div class="works__inner">
             <h3 class="works__title">
              что мы сделаем для продвижения в компании 
              социальных сетях:
             </h3>
             <div class="works__title-line"></div>
             <ul class="works__text">
              <li>1.	Проанализируем целевую аудиторию.</li>
              <li>2.	Дадим оценку активности компании в соцмедиа.</li>
              <li>3.	Изучим конкурентов и их активность в соцсетях.</li>
              <li>4.	Разработаем дизайна сообществ согласно стилистики бренда.</li>
              <li>5.	Подготовим шаблоны для постов и уникальный контент. Будем общаться с вашими пользователями согласно этике комьюнити-менеджмента.</li>
              <li>6.	Будем использовать лучшие способы продвижения: таргетированная реклама, медиапланирование, органические размещения, работа с блогерами и др.</li>          
             </div>
          </div>
        </di>
      </div>
    
      <div class="block-info">
        <div class="container">
          <p class="block-info__text">
            Вы получите подробный анализ каналов коммуникаций, 
            ваша компания получит широкий охват упоминания, 
            больше переходов на сайт, больше вовлеченности клиентов, 
            лиды продажи и конверсии. 
          </p>
        </div>
      </div>
    
      <div class="stages_work">
        <h2>что мы предлагаем?</h2>
        <div class="border_h2"></div>
        <div class="stages">
            <div class="card card__order-1">
            <span>1 SMM-стратегия</span>
            <p>Необходима для создания своего имиджа в соцсетях и общения с пользователями. 
              В разработанном нами плане мы детально представим то, как маркетинг в соцсетях будет согласовываться с вашим бизнесом. Это значит, что мы найдем для вас уникальный и эффективный способ SMM. Алгоритм работы: анализ всего, что имеем (Компания, аудитория, Опыт , конкуренты, Тенденции, ожидания клиента), составление плана целей и определение пути их достижения. </p>
            </div>
            <div class="card" data-da="card__order-1,1,1500">
            <div class="img">
              <object data="{% static '/images/backgrounds/smm/svg-1.svg' %}"></object> 
            </div>
            </div>
            <div class="card" data-da="card__order-2,1,1500">
                <div class="img">
                  <object data="{% static '/images/backgrounds/smm/svg-2.svg' %}"></object>
                </div>                
            </div>
            <div class="card card__order-2">
            <span>2 ведение сообществ</span>
            <p>Мы берем на себя ведение сообщества, создание и подачу контента, общение с фолловерами. Все процессы в работе автоматизированы. Ежемесячно предоставим вам отчёт о работе и полученных результатах, предложим планы дальнейшего развития.</p>
            </div>
            <div class="card card__order-3">
            <span>3 платное продвижение</span>
            <p>Надеетесь сэкономить на органическом росте сообщества? Вы только теряете на этом, пока конкуренты активно занимаются рекламой! Таргетированная реклама, сотрудничество с блогерами, «органический посев» в сетях — этим зарабатывают сегодня. Мы подберем уникальный инструментарий оптимальный конкретно для вашего бизнеса и оформим все нюансы в доступном формате четкого медиаплана.</p>
            </div>
            <div class="card" data-da="card__order-3,1,1500">
                <div class="img">
                  <object data="{% static '/images/backgrounds/smm/svg-3.svg' %}"></object> 
                </div>
            </div>
            <div class="card" data-da="card__order-4,1,1500">
                <div class="img">
                  <object data="{% static '/images/backgrounds/smm/svg-4.svg' %}"></object> 
                </div>
            </div>
            <div class="card card__order-4">
            <span>4 креативные концепции</span>
            <p>Комплексное SMM продвижение – это эффективное решение в борьбе с конкуренцией и для популяризации своего бренда. Но вы не получите результат, если реклама не будет эффективной, предложение должно цеплять, привлекать внимание. Наша команда – специалисты по генерации креативных идей! Мы продвигаем бренд в соцмедиа и делаем контент интересным для целевой аудитории.</p>
            </div>             
        </div>
      </div>
  {% include 'main/portfolio_works.html' %}
  <script src="{% static '/js/dynamic-adapt.js' %}"></script>
{% endblock %}