{% extends 'main/main.html' %}
{% load static %}
    {% block style %}
    <link rel="stylesheet" href="{% static '/css/usability_style.css' %}">
    {% endblock %}
{% block content %}
    {% include 'main/preview.html' %}
    <div class="short-description">
        <span>Поднимем эффективность любого сайта, устраним ошибки и слабые места, предоставим 
            четкие рекомендации для роста конверсии</span>
    </div>
    <div class="discription">
        <h2>«генеральная уборка» вашего сайта</h2>
        <div class="border-white"></div>
        <p>Информация, не отвечающая ожиданиям, сложная структура сайта и неудобная навигация вынуждают пользователей его покинуть.
             Мы проанализируем лендинги, проведем тестирования, выявим причины, из-за которых вы теряете клиентов
            </p>

    </div>
    <div class="images">
        <h3 class="wow fadeInUpBig" data-wow-offset="70">Usability-аудит сайта включает несколько этапов, которые можно комбинировать:</h3>
        <div class="card-block">
            <div class="card wow fadeInLeftBig" data-wow-offset="100">
                <object data="{% static 'images/stat.svg' %}" type="image/svg+xml"></object>
                <p>анализ статистики</p>
            </div>
            <div class="card wow fadeInRightBig" data-wow-offset="100">
                <object data="{% static 'images/prov.svg' %}" type="image/svg+xml"></object>
                <p>проверка актуальности контента</p>
            </div>  
           <div class="card wow fadeInLeftBig" data-wow-offset="100">
                <object data="{% static 'images/struct.svg' %}" type="image/svg+xml"></object>
                <p>структуры сайта и всех его элементов</p>
           </div>
            <div class="card wow fadeInRightBig" data-wow-offset="100">
                <object data="{% static 'images/lend.svg' %}" type="image/svg+xml"></object>
                <p>отслеживание взглядов 
                    и разработка лендингов
                </p>
            </div>  
        </div>
        <div class="section_seo wow fadeInUpBig" data-wow-offset="70">
            <div class="seo">
                <p>Параллельно с оптимизацией конверсий затрагивается и тема SEO: наиболее подходящий ответ на запрос пользователя поднимает сайт 
                    в поисковых системах, а значит, приводит 
                    к увеличению объема трафика
                </p>
                <object data="{% static 'images/seo.svg' %}" type="image/svg+xml"></object>
            </div>

    </div>
        <div class="who_work">
            <h2 class="wow fadeInUpBig" data-wow-offset="70">как мы это делаем</h2>
            <div class="border-black wow fadeInUpBig" data-wow-offset="70"></div>
            <h3 class="wow fadeInUpBig" data-wow-offset="70">Прежде внедрения любых изменений на сайт мы подтвердим гипотезы исследованиями и тестированием</h3>
        </div>
        <div class="text">
            <p>Прежде всего мы проработаем детали проекта для аудита usability: оценим качество и состояние сайта, соберем статистические данные и проанализируем целевую аудиторию, приведем наглядные примеры сайтов-конкурентов, подготовим развернутый документ с подробными рекомендациями по дальнейшему улучшению. Все гипотезы аудита будут проверены и подтверждены перед внедрением на сайт. На всех этапах работы конечные цели для нас актуальны, мы движемся к ним и подстраиваемся под изменения.
             </p>
        </div>
    </div>
    {% include 'main/portfolio_works.html' %}

{% endblock %}