{% extends 'main/main.html' %}
{% load static %}
    {% block style %}
    <link rel="stylesheet" href="{% static 'css/portfolio/2-style.css' %}">
    <link rel="stylesheet" href="{% static 'css/portfolio/sir/responsive.css' %}">
    {% endblock %}
    {% block content %}
     <div class="intro"  style=" background-image: url({% static 'images/portfolio/sir/Group106.png' %});">
     </div>
     <div class="text">
        <p>SIR the Label</p><br>
        <p>Разработка интернет-магазина для международного производителя одежды.</p>
     </div>
    <div class="tasks">
        <div class="task">
            <a href="https://us.sirthelabel.com">us.sirthelabel.com <object data="{% static 'images/portfolio/sir/skr.svg' %}" type="image/svg+xml" ></object>
            </a>
            <span>задачи</span>
            <div class="border_span"></div>
            <p>- Запустить цифровой канал продаж производителя для розничных и оптовых покупателей;<br>
                - Расширить В2В-аудиторию за счет малого бизнеса и конечных бизнес-покупателей;<br>
                - Наладить прямой диалог с розничными покупателями;</p>           
        </div>      
        <div class="task_img"  style="background-image: url({% static 'images/portfolio/sir/мокапайпад2.png' %});"></div>
    </div>
    <p class="mb-t">- Интегрировать интернет-магазин с фулфилмент-сервисом;<br>
        - Упростить процесс покупки и документооборот для B2B-клиентов;<br>
        - Обеспечить повышенную безопасность обмена и хранения данных;<br>
        - Автоматизировать определение стоимости доставки<br>
        - Обеспечить возможность отслеживания статуса заказа;</p>
   <span class="myfood"></span>
    <div class="decision">
        <span>решение</span>
        <div class="border_span"></div>
        <p>Друзья и соучредители Никки Кэмпбелл и Софи Кут запустили SIR, когда им было 24 года. Они разделяют любовь к кодам стиля 1970-х годов - среди муз входят Франсуаза Харди и Пэт Кливленд - которые влияют на каждую из их коллекций.</p>
    </div>
    <div class="slider1"></div>
        <div class="slider_1" >
            <div class="img_slider"> <div class="img"  style="background-image: url({% static 'images/portfolio/sir/sir1.png' %})"></div></div>
            <div class="img_slider"> <div class="img"  style="background-image: url({% static 'images/portfolio/sir/sir2.png' %})"></div></div>
            <div class="img_slider"> <div class="img"  style="background-image: url({% static 'images/portfolio/sir/sir3.png' %})"></div></div>
        </div>
    </div>
       
    <div class="numbers">
        <div class="number">
            <ol>
                <li> <div class="info">                   
                    <span>отображение разных цен для розничных и нескольких категорий B2B-покупателей;</span>
                  
                </div>                   
                </li>
                <li>  
                    <div class="info">
                        <span>разделение закупок по филиалам и дочерним компаниям в рамках одного аккаунта;</span>
                       
                    </div>
                   
                </li>
                <li> 
                    <div class="info">
                        <span>система уведомлений в личном кабинете B2B-покупателя, в том числе о просроченной задолженности;</span>
                        
                            
                    </div>
                   
                </li>    
                 <li> 
                    <div class="info">
                        <span>использование системы обмена сообщениями RabbitMQ для оперативной обработки запросов;</span>
                             
                    </div>
                   </li> 
                   <li> 
                    <div class="info">
                        <span>возможность отслеживать статус заказа и получать актуальные документы на каждом из этапов;</span>
                             
                    </div>
                   </li> 
                   <li> 
                    <div class="info">
                        <span>автоматическое формирование документов, включая заявки на отгрузку;</span>
                            
                    </div>
                   </li> 
                   <li> 
                    <div class="info">
                        <span>обмен данными через промежуточную базу данных для обеспечения безопасности;</span>
                             
                    </div>
                   </li> 
                   <li> 
                    <div class="info">
                        <span>хранение коммерческих данных по сессиям и с настроенным шифрованием для безопасности данных.</span>
                             
                    </div>
                   </li> 
            </ol>
        </div>
    </div>
    <div class="img-myfood"  style="background-image:url({% static 'images/portfolio/sir/phones.png' %});">
        <p></p>
    </div>
    <div class="team">
        <span>команда</span>
        <div class="border_span"></div>
        <div class="slider2">
            <div class="slider_2">
                {% for member in team %}
                <div class="img_slider-pirson1"><div class="pirson" {% if member.photo.url is not None %} style="background-image: url({{ member.photo.url }});"{% endif %}></div><p>{{ member.name }}</p><span>{{ member.position }}</span></div>
                {% endfor %}
            </div>
        </div>
    </div>
    <script
    src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
    crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="{% static 'js/portfolio.js' %}"></script>
    {% include 'main/portfolio_works.html' %}
{% endblock %}